@using System.Text;
@{
    StringBuilder scripts = new StringBuilder();
    scripts.AppendLine(@"<script type='text/javascript'>
    $(function(){
        if (!window.console) window.console = {};
        if (!window.console.log) window.console.log = function () { };
        $('#tabs').tabs();
    });
    </script>");
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LoadScripts = scripts.ToString();    
    ViewBag.Title = "Home";
}
<div>
    <table>
        <thead>
            <tr><th colspan="4">Drivers Championship Standings</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="driver in driversList">
                <td>{{$index + 1}}</td>
                <td>
                    <img src="img/flags/{{driver.Driver.nationality}}.png" />
                    {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                </td>
                <td>{{driver.Constructors[0].name}}</td>
                <td>{{driver.points}}</td>
            </tr>
        </tbody>
    </table>
</div>
<h1>Acesso concedido</h1>
<!--  ng-controller="View1Ctrl" -->
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Questionário</a></li>
        <li><a href="#tabs-2">Roteiros de Teste</a></li>
    </ul>
    <div id="tabs-1">
        <div class="ui-widget-header padded">
            Minhas Pendências
            <div id="grid-questionário"></div>
        </div>
    </div>
    <div id="tabs-2">
        <div class="ui-widget-header padded">
            Minhas Pendências
            <div id="grid-migracao"></div>
        </div>
    </div>
</div>
