@using System.Text;
@{
    StringBuilder scripts = new StringBuilder();
    scripts.AppendLine(@"<script type='text/javascript'>
    $(function(){
        if (!window.console) window.console = {};
        if (!window.console.log) window.console.log = function () { };
        $('#tabs').tabs();
    });
    </script>");
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LoadScripts = scripts.ToString();    
    ViewBag.Title = "Home";
}
<h1>Acesso concedido</h1>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Questionário</a></li>
        <li><a href="#tabs-2">Roteiros de Teste</a></li>
    </ul>
    <div id="tabs-1">
        <div class="ui-widget-header padded">
            Minhas Pendências
            <div id="grid-questionário"></div>
        </div>
    </div>
    <div id="tabs-2">
        <div class="ui-widget-header padded">
            Minhas Pendências
            <div id="grid-migracao"></div>
        </div>
    </div>
</div>
